@font-face {
    font-family: "CenturyGothicRegular";
    src:url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
    src:url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
        url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
