@size-default: 60px;
header {
    position: fixed;
    top: 0;
    height: @size-default;
    width: 100%;
    background: #343434;
    color: #fff;
    z-index: 10000;
    .header-body {
    	height: @size-default;
        logo {
            display: flex;
            a {
            	color: #fff;
                display: flex;
                align-items: center;
                font-family: "CenturyGothicRegular", sans-serif;
                font-size: 24px;
                font-weight: 600;
                text-decoration: none;
                white-space: nowrap;
                &:after {
                    content: 'ОБСЛУЖИВАЮЩАЯ \0a КОМПАНИЯ';
                    font-size: 10px;
                    display: flex;
                    position: relative;
                    align-items: center;
                    border-left: 1px solid #FFF;
                    padding-left: 12px;
                    margin-left: 12px;
                    height: 36px;
                    white-space: pre;
                }
            }
        }
        user {
            display: flex;
            justify-content: flex-end;
            .user-menu {
                position: relative;
                padding-right: 36px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                cursor: pointer;
                &__name {
                    font-size: 0.75rem;
                    text-align: right;
                    padding: 13px;
                    &:after {
                        content: '';
                        display: block;
                        width: 16px;
                        height: 16px;
                        background-image: url('../img/icon/news/next.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 16px;
                        -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
                        position: absolute;
                        right: 0;
                        top: calc(~'50% - 24px');
                        padding: 19px;
                    }
                }
                img {
                    height: 35px;
                    margin-right: 10px;
                }
                &_dropdown {
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    border-radius: 3px;
                    &:before {
                        content: '';
                        position: absolute;
                        top: -20px;
                        right: 10px;
                        border-width: 10px;
                        border-style: solid;
                        border-color: transparent transparent #FFF transparent;
                    }
                    &.open-menu {
                        display: block;
                    }
                    &.show {
                        opacity: 1;
                    }
                    a {
                        display: block;
                        color: #9E9E9E;
                        padding: 15px 20px;
                        &:hover {
                            color: #1b9e49;
                        }
                    }
                    li {
                        border-bottom: 1px solid #ddd;
                        cursor: pointer;
                        text-align: right;
                        &:last-child {
                            border-width: 0;
                        }
                    }
                }
            }
        }
    }
}


footer {
	background: #d2d4d6;
    position: fixed;
    z-index: 50;
    bottom: 0;
    height: @size-default / 1.5;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    nav {
        ul {
            font-size: 0.75rem;
            color: #757575;
            li {
            	cursor: pointer;
                &:hover {
                    color: #1b9e49;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    copyright {
        img {
            display: block;
            height: 24px;
        }
    }
}
