header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: #343434;
  color: #fff;
  z-index: 10000;
}
header .header-body {
  height: 60px;
}
header .header-body logo {
  display: flex;
}
header .header-body logo a {
  color: #fff;
  display: flex;
  align-items: center;
  font-family: "CenturyGothicRegular", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
}
header .header-body logo a:after {
  content: 'ОБСЛУЖИВАЮЩАЯ \0a КОМПАНИЯ';
  font-size: 10px;
  display: flex;
  position: relative;
  align-items: center;
  border-left: 1px solid #FFF;
  padding-left: 12px;
  margin-left: 12px;
  height: 36px;
  white-space: pre;
}
header .header-body user {
  display: flex;
  justify-content: flex-end;
}
header .header-body user .user-menu {
  position: relative;
  padding-right: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
header .header-body user .user-menu__name {
  font-size: 0.75rem;
  text-align: right;
  padding: 13px;
}
header .header-body user .user-menu__name:after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('../img/icon/news/next.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  top: calc(50% - 24px);
  padding: 19px;
}
header .header-body user .user-menu img {
  height: 35px;
  margin-right: 10px;
}
header .header-body user .user-menu_dropdown {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 3px;
}
header .header-body user .user-menu_dropdown:before {
  content: '';
  position: absolute;
  top: -20px;
  right: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #FFF transparent;
}
header .header-body user .user-menu_dropdown.open-menu {
  display: block;
}
header .header-body user .user-menu_dropdown.show {
  opacity: 1;
}
header .header-body user .user-menu_dropdown a {
  display: block;
  color: #9E9E9E;
  padding: 15px 20px;
}
header .header-body user .user-menu_dropdown a:hover {
  color: #1b9e49;
}
header .header-body user .user-menu_dropdown li {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  text-align: right;
}
header .header-body user .user-menu_dropdown li:last-child {
  border-width: 0;
}
footer {
  background: #d2d4d6;
  position: fixed;
  z-index: 50;
  bottom: 0;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
footer nav ul {
  font-size: 0.75rem;
  color: #757575;
}
footer nav ul li {
  cursor: pointer;
}
footer nav ul li:hover {
  color: #1b9e49;
}
footer nav ul li:last-child {
  margin-right: 0;
}
footer copyright img {
  display: block;
  height: 24px;
}
