body{
    font-family: "Times New Roman";
    font-size: 10px;
}

table {
    display: table;
    font-size: 10px;
    border-collapse: collapse;
    border-color: grey;
}
table td,table th{
    padding: 1px;
    border: 1px solid black;
}

table td{
    text-align: right;
}

table td.left{
    text-align: left;
}

table td.center{
    text-align: center;
}

#logo{
    margin-top: 100px;
    width: 48%;
    float: left;
}

.header{
    width: 100%;
    height: 100px;
}

.header > *{
    display: inline-block;
}

.user_data{
    float: right;
}

.user_data > *{
    margin-bottom: 10px;
}

.user_data .user_data__item{
    width: 50%;
    float: right;
    text-align: right;
    margin-top: -15px;
}

#requisites{
    width:40%;
    text-align: left;
    float: right;
    font-size:10px;
}

.alert {
    text-align: center;
    text-transform: uppercase;
}

.half_table{
    border: 1.5px solid black;
    width : 100%;
    padding-top: 65px;
    margin-bottom: 30px;
}

.half_table thead tr{
    border: 1.5px solid black;
}

.wide_table {
    padding-top: 50px;
    width: 100%;
}

.left-side{
    width: 48%;
    float: left;
}

.right-side{
    width: 48%;
    float: right;
}

.width-20{
    width: 20%;
}

.width-80{
    width: 80%;
}