* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
.uk-full-width {
  width: 100%;
}
message {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  z-index: 200;
}
message.danger {
  background: #890000;
  color: #FFFFFF;
}
message.danger:hover {
  background: #ad0000;
}
.icon {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.icon[icon=arrow] {
  background-image: url("../img/icon/arrow.svg");
}
.icon[icon=view] {
  background-image: url("../img/icon/view.svg");
}
.icon[icon=close] {
  background-image: url("../img/icon/exit.svg");
}
html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background: #e2e4e6;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #343434;
}
button {
  outline: 0 none !important;
}
button:hover {
  cursor: pointer;
}
body[aside] {
  overflow: hidden;
}
body[aside] .aside {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
body[aside] .aside.show-item {
  background: #fafafa;
}
body[aside][aside-child] .aside-content {
  transform: translateX(-25%);
}
body[aside][aside-child] .aside-child {
  transform: translateX(0%);
}
body[modal-slider] {
  overflow: hidden;
}
body[modal-slider] .modal_slider {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
body[shure-popup],
body[code] {
  overflow: hidden;
}
body>.alert {
  top: 60px;
}
.table {
  text-align: left;
  width: 100%;
}
.table-header {
  background: #e8e8e8;
}
.table-header tr {
  margin-bottom: 30px;
}
.table-header tr th {
  padding: 10px;
  font-weight: 400;
}
.table[table=building] thead tr th {
  width: 330px;
}
.table[table=building] thead tr th:last-child {
  width: 100px;
}
.table tbody tr {
  border-bottom: 1px solid #ddd;
}
.table tbody tr td {
  padding: 10px;
}
.table-blank {
  position: relative;
  opacity: 0.5;
}
.table-blank thead tr th,
.table-blank tbody tr td {
  padding: 12px;
}
.table-blank:before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,#ffffff 100%);
  background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,#ffffff 100%);
  background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#ffffff',GradientType=0);
}
.table-blank__item {
  background-color: #d1d1d1;
  padding: 7px;
  border-radius: 10px;
  width: 80%;
}
.table-blank__item-s {
  width: 40%;
}
.table-blank__item-m {
  width: 60%;
}
.color-green {
  color: #1b9e49 !important;
}
.color-red {
  color: #9e241b !important;
}
.color-gold {
  color: #b29400 !important;
}
.color-black {
  color: #343434 !important;
}
.color-grey {
  color: grey !important;
}
.color-white {
  color: white !important;
}
.font-small {
  font-size: 0.75rem;
}
.font-medium {
  font-size: 1.5rem;
}
.font-large {
  font-size: 2rem;
}
.top {
  padding-top: 120px;
}
topbar ~ main {
  padding-top: 90px;
}
input[data-input=capitalize] {
  text-transform: capitalize;
}
input[data-input=uppercase] {
  text-transform: uppercase;
}
main {
  min-height: calc(100vh - 100px);
  margin-top: 60px;
  margin-bottom: 40px;
  overflow-x: hidden;
}
.balance-container {
  height: calc(100vh - 100px);
  margin-top: 60px;
  margin-bottom: 40px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  background-color: #c2c4c6;
  top: 0;
  left: 0;
  position: fixed;
}
.translate-in {
  -webkittransition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkittransform: translateX(-100%);
  transform: translateX(-100%);
}
.translate-in.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.translate-out {
  -webkittransition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkittransform: translateX(0);
  transform: translateX(0);
}
.translate-out.active {
  -webkittransform: translateX(50%);
  transform: translateX(50%);
}
a {
  text-decoration: none;
  color: inherit;
}
ul li {
  list-style: none;
}
input:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #fff inset;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.fix-content-medium {
  padding-left: 35px;
  width: 300px;
}
label {
  white-space: nowrap;
}
.article__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.pagination {
  padding: 30px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
}
.pagination > *.active {
  color: #1b9e49;
}
overlay {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 800;
  transition: opacity 0.3s ease-out;
}
overlay.active {
  opacity: 1;
}
.material-input {
  position: relative;
  height: 72px;
  width: 100%;
  padding: 16px 0 8px;
}
.material-input.is-focused::after {
  transform: scaleX(1);
}
.material-input::before,
.material-input::after {
  position: absolute;
  left: 0;
  bottom: 6px;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
}
.material-input::before {
  background-color: #bfbfbf;
}
.material-input::after {
  background-color: #b29400;
  transform: scaleX(0);
  transition: transform 0.3s;
}
.material-input_label {
  display: block;
  position: relative;
  line-height: 16px;
  transform: translateY(24px);
  transition: transform 0.3s, scale 0.3s, color 0.3s;
  transform-origin: 0 50%;
  color: #bfbfbf;
}
.material-input_label .is-focused {
  color: #b29400;
  transform: translateY(0) scale(0.75);
}
.material-input.has-label .material-input_label {
  color: #b29400;
  transform: translateY(0) scale(0.75);
}
.material-input.has-label.required .material-input_label {
  color: #f44336;
}
.material-input_text {
  position: relative;
  background: transparent;
  border: none;
  height: 32px;
  line-height: 16px;
  padding-top: 8px;
  width: 100%;
  outline: none;
}
.material-input.required::before,
.material-input.required::after {
  background-color: #f44336;
}
.input-default {
  padding: 10px 0px;
  background: none;
  border-width: 2px;
  border-color: transparent;
  border-bottom-width: 2px;
  border-style: solid;
  outline: none;
  transition: border-bottom-color 0.3s ease-out;
}
.input-default:enabled {
  border-bottom-color: #aaaaaa;
}
.input-default.required {
  color: #f44336;
  border-bottom-color: #f44336;
}
.input-default.required::placeholder {
  color: #f44336;
}
.input-default.fit {
  padding: 0;
}
.select-default {
  padding: 3px 10px;
  background: none;
  border-width: 3px;
  width: 100%;
  border-style: solid;
  outline: none;
  transition: border-bottom-color 0.3s ease-out;
}
.select-default[status="0"] {
  border-color: #cc3c32;
}
.select-default[status="2"] {
  border-color: #b29400;
}
.select-default[status="3"] {
  border-color: #1b9e49;
}
.account-info,
.balance {
  background: white;
  border: 1px solid #eee;
  border-radius: 10px;
}
.link-pdf {
  margin-top: 20px;
}
.indication-icon {
  position: relative;
}
.indication-icon:before {
  content: '';
  position: absolute;
  top: -24px;
  left: 50%;
  display: block;
  width: 48px;
  height: 48px;
  background-color: #e2e4e6;
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.indication-icon.icon-water:before {
  background-image: url('../img/icon/admin/tile/water-icon.svg');
}
.indication-icon.icon-energy:before {
  background-image: url('../img/icon/admin/tile/energy-icon.svg');
}
.solid-box {
  border: 1px solid #eee;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.solid-box > * {
  width: 100%;
  margin-bottom: 30px;
}
.solid-box > *:last-child {
  margin-bottom: 0;
}
.solid-box a {
  text-align: center;
}
.account-indications {
  text-align: center;
  padding: 30px;
}
.title-label {
  font-size: 1.5rem;
  margin-bottom: 30px;
  display: block;
}
.balance {
  flex-direction: column;
  padding: 30px;
}
.balance__item {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.balance__item:last-child {
  padding: 0;
  margin: 0;
  border: none;
}
.usr-padding-xs {
  padding: 5px !important;
}
.link-back {
  width: fit-content;
  cursor: pointer;
}
.link-back img {
  width: 60px;
  margin-right: 10px;
}
.shure-popup,
.code {
  position: fixed;
  padding: 40px;
  max-width: 620px;
  width: 100%;
  top: 50%;
  left: 50%;
  display: none;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: 5px;
  z-index: 2000;
}
.shure-popup article,
.code article {
  text-align: center;
  margin-bottom: 30px;
}
.hidden-form {
  display: none;
}
[data-visible] {
  display: none;
}
.permition-form {
  padding: 35px;
}
.permition-form>* {
  margin-bottom: 30px;
}
.permition-form .button-group {
  margin-bottom: 0;
}
.aside {
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  padding: 60px 0 0;
  border-left: 1px solid #dddddd;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  z-index: 1000;
}
.aside-child {
  position: fixed;
  -webkit-overflow-scrolling: touch;
  top: 60px;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  background-color: #e8e8e8;
  z-index: 2;
  min-height: 100vh;
  height: 100%;
  overflow: auto;
}
.aside-scroll {
  padding: 40px 0;
}
.aside-content {
  height: calc(100vh - 60px);
  position: relative;
  transform: translateX(0%);
  transition: transform 0.3s ease-out;
  z-index: 1;
  background: #fff;
  overflow-y: auto;
}
.aside-content-item {
  padding: 15px 40px;
  cursor: pointer;
  border-bottom: 1px solid #dddddd;
}
.aside-content-item:hover {
  background: #f1f1f1;
}
.aside-content-item.active {
  background: #e5e5e5;
  color: #1b9e49;
}
.aside-content-item.active:hover {
  border: 1px solid white;
}
.aside-content-item .article-date {
  font-size: 0.75rem;
  color: #9b9b9b;
}
.aside-content-item .article-header {
  font-size: 1rem;
}
.button-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button-group .button {
  width: 100%;
  margin-left: 1rem;
}
.button-group .button:first-child {
  margin-left: 0;
}
.alert {
  width: 100%;
  position: fixed;
  left: 0;
  text-align: center;
  padding: 10px 20px;
  z-index: 50000;
  font-weight: 700;
}
.alert.alert-notice {
  background-color: #ffc33d;
}
.alert.alert-danger {
  color: #fff;
  background-color: #f44336;
}
.alert.alert-success {
  color: #fff;
  background-color: #1b9e49;
}
.alert.alert-include {
  font-size: 13px;
  position: relative;
  padding: 7px 0px;
}
.alert.alert-include__danger {
  color: #f44336;
}
.alert.alert-include__success {
  color: #1b9e49;
}
.notice {
  border-radius: 10px;
  background: #F2994A;
  background: -webkit-linear-gradient(to right,#F2C94C,#F2994A);
  background: linear-gradient(to right,#F2C94C,#F2994A);
  color: #333;
  margin-bottom: 40px;
  padding: 20px;
  text-align: center;
}
.flex-line {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}
.modal_slider {
  background: #fff;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  padding: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-y: scroll;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 110;
}
.modal_slider::-webkit-scrollbar {
  width: 5px;
}
.modal_slider::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 6px;
}
.additionals svg {
  margin-bottom: 30px;
}
.additionals_list tr th {
  font-weight: 800;
}
.additionals-create .price {
  align-content: center;
  background: #f8fafc;
  transform: translateY(-100%);
  transition: transform 0.3s linear;
  border-radius: 5px;
  padding: 15px 10px 10px;
  text-align: center;
  border: 1px dashed #e2e4e6;
}
.additionals-create .price.active {
  transform: translateY(-5px);
}
.additionals-create_item {
  border: 3px dashed #eee;
  border-radius: 5px;
  color: #eee;
  text-align: center;
  z-index: 2;
}
.additionals-create_item-delete {
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  filter: brightness(10);
  padding: 10px;
  box-sizing: border-box;
}
.additionals-create_item.done {
  border-color: transparent;
}
.additionals-create_item.active {
  color: #b5b5b5;
  border-color: #dddddd;
  cursor: pointer;
}
.additionals-create_item.active:hover {
  color: #8d8d8d;
  border-color: #b5b5b5;
}
.additionals-create_item.active:hover svg g {
  fill: #b5b5b5;
}
.additionals-create_item.active svg g {
  fill: #dddddd;
}
.additionals-create_item img {
  height: 72px;
  width: 72px;
  border: 2px solid;
  border-radius: 50%;
  padding: 18px;
  box-sizing: content-box;
  margin-bottom: 30px;
  filter: brightness(0) invert(1);
}
.additionals-pay[hiden=true] {
  display: none;
}
.button {
  padding: 10px;
  background: #1b9e49;
  border: 1px solid #1b9e49;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  background-color: #14883d;
}
.button-black {
  background-color: #333;
  border-color: #333;
}
.button-black:hover {
  background-color: #000;
}
.button-transparent {
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  color: #b29400;
}
.button-transparent:hover {
  background-color: transparent;
  color: #94710e;
}
.button-transparent_green {
  border-color: #1b9e49;
  color: #1b9e49;
}
.button-transparent_green:hover {
  border-color: #197F3E;
  color: #197F3E;
}
.button-responsive {
  width: 100%;
}
.button-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}
.button-icon img {
  background: transparent;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
.button-fit {
  width: fit-content;
  width: -moz-fit-content;
}
.button-small {
  min-width: 5.5rem;
}
.street-list_item {
  cursor: pointer;
  padding: 10px 20px;
  border-bottom: 1px solid #e2e4e6;
}
.street-list_item:hover {
  background: #fafcfe;
}
.street-list_item.active {
  color: #1c9e49;
  background: #e5e9ee;
}
.street-list_item:last-child {
  border-bottom: 1px solid transparent;
}
.tool_panel {
  top: 60px;
  left: 0;
  background: #fff;
  box-shadow: 0 0 10px 0px #ddd;
}
.tool_panel span a {
  display: block;
  color: #727476;
  padding: 12px 15px;
  text-decoration: none;
}
.tool_panel span a:hover {
  color: #b29400;
}
.tool_panel span.active a {
  color: #b29400;
}
.new-additionals_list_item {
  border: 1px dashed #d2d4d6;
  border-radius: 5px;
  filter: grayscale(0.5);
  opacity: 0.75;
  cursor: pointer;
}
.new-additionals_list_item small {
  color: #a7a7a7;
}
.new-additionals_list_item.active {
  border: 1px solid transparent;
  opacity: 1;
  filter: grayscale(0);
}
.new-additionals_list_item.active * {
  color: #fff;
}
.new-additionals_list_item.active img {
  filter: brightness(0) invert(1);
}
.new-additionals_list_item:hover {
  border: 1px solid #b2b4b6;
  filter: grayscale(0);
  opacity: 1;
}
.new-additionals_list_item img {
  display: block;
  margin-right: 30px;
  width: 60px;
  height: 60px;
  min-height: 60px;
}
.new-additionals_create>* {
  margin-bottom: 30px;
}
.picker__holder {
  max-width: 330px;
}
.input-form {
  padding: 30px;
}
.input-form .button {
  position: relative;
  width: 100%;
}
.input-form>* {
  margin-bottom: 30px;
}
.input-form .material-content {
  margin-top: 30px;
}
.input-form_panel {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 20px 30px;
}
.input-form_panel .button {
  position: relative;
  width: 100%;
}
.data-fail {
  font-size: 1.5rem;
  color: grey;
  text-align: center;
}
.receipt_link {
  display: none;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"].remember-checkbox {
  display: block;
}
input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}
input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #1b9e49;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}
input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.number-template {
  align-items: center;
}
.number-template__input {
  height: auto;
  padding: 0;
}
.number-template__input:before,
.number-template__input:after {
  bottom: 0;
}
.number-template__input input {
  height: 40px;
  padding: 10px 0px;
}
.number-template__input label {
  position: absolute;
  transform: translateY(13px);
}
.number-template__input.has-label label {
  transform: translateY(-13px) scale(0.75) !important;
}
.number-template__mask {
  height: 40px;
}
.number-template__item {
  display: none;
  color: #aaa;
  border: 2px solid #000;
  padding: 4px 10px;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: default;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.number-template__item span {
  color: #343434;
  padding: 7px 0px;
}
.number-template__item[template="russian"] span:nth-child(2) {
  margin-left: 5px;
}
.number-template__item[template="russian"] span:nth-child(4) {
  margin-right: 5px;
}
.number-template__item[template="russian"] span:nth-child(7) {
  border-left: 2px solid;
  padding-left: 10px;
  margin-left: 10px;
}
.number-template__item[template="ukrainian"] span:nth-child(3) {
  margin-left: 5px;
}
.number-template__item[template="ukrainian"] span:nth-child(6) {
  margin-right: 5px;
}
@media (max-width: 1200px) {
  .font-medium {
    font-size: 1rem;
  }
}
@media (max-width: 960px) {
  .balance-container {
    align-items: start;
  }
}
