// Sizes
@base-size: 60px;
@small-size: @base-size/2;

@base-font-size: 16px;
@content-width: 1200px;

// Colors
@black: #343434;
@red: #9e241b;
@grey: #eeeeee;
@grey-comment: #afafaf;
@default-bg: #e5e9ee;
@light-grey: #dadada;
@gold: #b29400;
@green: #1b9e49;
@hover-table_item: #fafcfe;

@mobile: ~"only screen and (max-width: 480px)";
@tablet-sm: ~"only screen and (max-width: 768px)";
@tablet: ~"only screen and (max-width: 990px)";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* дополнительные свойства uiKit */
a {
  &:hover {
    text-decoration: none;
  }
}
.uk-full-width {
  width: 100%;
}

message {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  z-index: 200;
  &.danger {
    background: #890000;
    color: #FFFFFF;
    &:hover {
      background: #ad0000;
    }
  }
}

/* дополнительные свойства uiKit */
.icon {
  width: @small-size;
  height: @small-size;
  background-repeat: no-repeat;
  cursor: pointer;
  &[icon=arrow] {
    background-image: url("../img/icon/arrow.svg");
  }
  &[icon=view] {
    background-image: url("../img/icon/view.svg");
  }

  &[icon=close] {
    background-image: url("../img/icon/exit.svg");
  }
}

html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background: #e2e4e6;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #343434;
}

button {
  /**Убирает штатное выделение браузера*/
  outline: 0 none !important;
  &:hover{
    cursor: pointer;
  }
}

body {
  &[aside] {
    .aside {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      &.show-item {
        background: #fafafa;
      }
    }
    &[aside-child] {
      .aside-content {
        transform: translateX(-25%);
      }
      .aside-child {
        transform: translateX(0%);
      }
    }
    overflow: hidden;
  }
  &[modal-slider]{
    .modal_slider {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    overflow: hidden;
  }
  &[shure-popup],&[code]{
    overflow: hidden;
  }
  &>.alert {
    top: @base-size;
  }
}

.table{
  text-align: left;
  width: 100%;
  &-header {
    background: #e8e8e8;
    & tr {
      margin-bottom: @small-size;
      th {
        padding: 10px;
        //padding: 10px 0;
        font-weight: 400;

      }
    }
  }
  &[table=building]{
    & thead tr th{
      width: 330px;
      &:last-child{
        width: 100px;
      }
    }
  }
  & tbody {
    & tr{
      border-bottom: 1px solid #ddd;
      & td {
        //padding-top: 10px;
        //height: 75px;
        padding: 10px;
      }
    }
  }
  &-blank{
    position: relative;
    opacity: 0.5;
    & thead tr th, tbody tr td{
      padding: 12px;
    }
    &:before{
      content: "";
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    }
    &__item {
      background-color: #d1d1d1;
      padding: 7px;
      border-radius: 10px;
      width: 80%;
      &-s{
        width: 40%;
      }
      &-m{
        width: 60%;
      }
    }
  }
}

.color {
  &-green {
    color: @green !important;
  }
  &-red {
    color: @red !important;
  }
  &-gold {
    color: @gold !important;
  }
  &-black {
    color: #343434 !important;
  }
  &-grey {
    color: grey !important;
  }
  &-white {
    color: white !important;
  }
}

.font {
  &-small {
    font-size: 0.75rem;
  }
  &-medium {
    font-size: 1.5rem;
  }
  &-large {
    font-size: 2rem;
  }
}

.top{
  padding-top: @base-size*2;
}

topbar{
  & ~ main{
    padding-top: 90px;
  }
}

input[data-input=capitalize]{
  text-transform: capitalize;
}

input[data-input=uppercase]{
  text-transform: uppercase;
}

main{
  min-height: calc(~'100vh - 100px');
  margin-top: 60px;
  margin-bottom: 40px;
  overflow-x: hidden;
}

.balance-container {
  height: calc(~'100vh - 100px');
  margin-top: 60px;
  margin-bottom: 40px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  background-color: #c2c4c6;
  top: 0;
  left: 0;
  position: fixed;
}

.translate-in {
  -webkittransition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkittransform: translateX(-100%);
  transform: translateX(-100%);
  &.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.translate-out {
  -webkittransition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkittransform: translateX(0);
  transform: translateX(0);
  &.active {
    -webkittransform: translateX(50%);
    transform: translateX(50%);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  li {
    list-style: none;
  }
}

input:-webkit-autofill,select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #fff inset;
}
//Скрытие стрелок у input типа number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}




/*.fix-content-small {
  padding-left: 35px;
  width: 250px;
}*/

.fix-content-medium {
  padding-left: 35px;
  width: 300px;
}

//Grid

label {
  white-space: nowrap;
}



.article{
  &__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: @small-size;
  }
}

// Pagination
.pagination {
  padding: @small-size 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
  > * {
    &.active {
      color: @green;
    }
  }
}
// Pagination

overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 800;
  transition: opacity 0.3s ease-out;
  &.active {
    opacity: 1;
  }
}

.material-input {
  position: relative;
  height: 72px;
  width: 100%;
  padding: 16px 0 8px;
  &.is-focused {
    &::after {
      transform: scaleX(1);
    }
  }
  &::before, &::after {
    position: absolute;
    left: 0;
    bottom: 6px;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
  }
  &::before {
    background-color: lighten(#000000, 75%);
  }

  &::after {
    background-color: @gold;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  &_label {
    display: block;
    position: relative;
    line-height: 16px;
    transform: translateY(24px);
    transition: transform 0.3s, scale 0.3s, color 0.3s;
    transform-origin: 0 50%;
    color: lighten(#000000, 75%);
    & .is-focused {
      color: @gold;
      transform: translateY(0) scale(0.75);
    }
  }

  &.has-label &_label {
    color: @gold;
    transform: translateY(0) scale(0.75);
  }
  &.has-label.required &_label {
    color: #f44336;
  }
  &_text {
    position: relative;
    background: transparent;
    border: none;
    height: 32px;
    line-height: 16px;
    //padding-bottom: 8px;
    padding-top: 8px;
    width: 100%;
    outline: none;
  }
  &.required{
    &::before,&::after {
      background-color: #f44336;
    }
  }
}

.input-default {
  padding: 10px 0px;
  background: none;
  border-width: 2px;
  //width: 100%;
  border-color: transparent;
  border-bottom-width: 2px;
  border-style: solid;
  outline: none;
  transition: border-bottom-color 0.3s ease-out;
  &:enabled{
    border-bottom-color: #aaaaaa;
  }
  &.required {
    &::placeholder {
      color: #f44336;
    }
    color: #f44336;
    border-bottom-color: #f44336;
  }
  &.fit{
    padding: 0;
  }
}

.select-default{
  padding: 3px 10px;
  background: none;
  border-width: 3px;
  width: 100%;
  border-style: solid;
  outline: none;
  transition: border-bottom-color 0.3s ease-out;
  &[status="0"]{
    border-color: #cc3c32;
  }
  &[status="2"]{
    border-color: @gold;
  }
  &[status="3"]{
    border-color: @green;
  }
}

.account-info, .balance {
  background: white;
  border: 1px solid #eee;
  border-radius: 10px;
}

.link-pdf {
  margin-top: 20px;
}

.indication-icon {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -24px;
    left: 50%;
    display: block;
    width: 48px;
    height: 48px;
    background-color: #e2e4e6;
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  &.icon-water {
    &:before {
      background-image: url('../img/icon/admin/tile/water-icon.svg');
    }
  }
  &.icon-energy {
    &:before {
      background-image: url('../img/icon/admin/tile/energy-icon.svg');
    }
  }
}

.solid-box {
  border: 1px solid #eee;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: @small-size/2;
  & > * {
    width: 100%;
    margin-bottom: @small-size;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    text-align: center;
  }
}

.account-indications {
  text-align: center;
  padding: @small-size;
}

.title-label {
  font-size: 1.5rem;
  margin-bottom: @small-size;
  display: block;
}

.balance{
  flex-direction: column;
  padding: @small-size;
  &__item {
    display: flex;
    width: 100%;
    border-bottom: 1px solid @grey;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: @small-size/2;
    margin-bottom: @small-size/2;
    &:last-child {
      padding: 0;
      margin: 0;
      border: none;
    }
  }
}


/*.filter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: @small-size 0px;
  & > *{
    margin-right: @small-size;
  }
}*/
.usr{
  &-padding{
    &-xs{
      padding: 5px !important;
    }
  }
}

.link-back {
  width: fit-content;
  cursor: pointer;
  img {
    width: @base-size;
    margin-right: 10px;
  }
}

.shure-popup, .code {
  position: fixed;
  padding: 40px;
  max-width: 620px;
  width: 100%;
  top: 50%;
  left: 50%;
  display: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 5px;
  z-index: 2000;
  article {
    text-align: center;
    margin-bottom: @small-size;
  }

}

.hidden-form {
  display: none;
}

[data-visible]{
  display: none;
}

.permition-form{
  padding: 35px;
  &>*{
    margin-bottom: @small-size;
  }
  & .button-group{
    margin-bottom: 0;
  }
}

.aside {
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  //width: 400px;
  //height: 100vh;
  background: #fff;
  padding: @base-size 0 0;
  border-left: 1px solid #dddddd;
  //overflow: hidden;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  z-index: 1000;
  //overflow-y: auto;
  &-child {
    position: fixed;
    -webkit-overflow-scrolling: touch;
    top: 60px;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    background-color: #e8e8e8;
    //padding: 35px;
    //padding-top: 100px;
    z-index: 2;
    min-height: 100vh;
    height: 100%;
    overflow: auto;
  }
  &-scroll {
    padding: 40px 0;
  }
  &-title {
    /*padding: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 20px;*/
  }
  &-content {
    height: calc(~'100vh - 60px');
    position: relative;
    transform: translateX(0%);
    transition: transform 0.3s ease-out;
    z-index: 1;
    background: #fff;
    overflow-y: auto;
    &-item {
      padding: 15px 40px;
      cursor: pointer;
      border-bottom: 1px solid #dddddd;
      &:hover {
        background: #f1f1f1;
      }
      &.active {
        background: #e5e5e5;
        color: #1b9e49;
        &:hover {
          border: 1px solid white;
        }
      }
      .article-date {
        font-size: 0.75rem;
        color: #9b9b9b;
      }
      .article-header {
        font-size: 1rem;
      }
    }
  }
}

.button-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & .button {
    width: 100%;
    margin-left: 1rem;
    &:first-child {
      margin-left: 0;
    }
  }
}

.alert {
  width: 100%;
  position: fixed;
  left: 0;
  text-align: center;
  padding: 10px 20px;
  z-index: 50000;
  font-weight: 700;
  &.alert-notice {
    background-color: #ffc33d;
  }
  &.alert-danger {
    color: #fff;
    background-color: #f44336;
  }
  &.alert-success {
    color: #fff;
    background-color: @green;
  }
  &.alert-include{
    font-size: 13px;
    position: relative;
    padding: 7px 0px;
    &__danger{
      color: #f44336;
    }
    &__success{
      color: @green;
    }
  }
}

.notice {
  border-radius: 10px;
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #333;
  margin-bottom: 40px;
  padding: 20px;
  text-align: center;
}

.flex-line {
  display: flex;
  flex-direction: row;
  margin-bottom: @small-size;
  justify-content: space-between;
  align-items: center;

}

.modal_slider {
  background: #fff;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  top: @base-size;
  left: 0;
  width: 100%;
  height: calc(~'100% - 60px');
  padding: @base-size;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-y: scroll;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 110;
  &::-webkit-scrollbar-track {}
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 6px;
  }
}

.additionals {
  svg {
    margin-bottom: @small-size;
  }
  &_list tr th {
    font-weight: 800;
  }
  &-create {
    .price {
      align-content: center;
      background: #f8fafc;
      transform: translateY(-100%);
      transition: transform 0.3s linear;
      border-radius: 5px;
      padding: 15px 10px 10px;
      text-align: center;
      border: 1px dashed #e2e4e6;
      &.active {
        transform: translateY(-5px);
      }
    }
    &_item {
      border: 3px dashed #eee;
      border-radius: 5px;
      color: #eee;
      text-align: center;
      z-index: 2;
      &-delete {
        border: 1px solid #fff;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        right: 5px;
        width: 10px;
        height: 10px;
        filter: brightness(10);
        padding: 10px;
        box-sizing: border-box;
      }
      &.done {
        border-color: transparent;
      }
      &.active {
        color: #b5b5b5;
        border-color: #dddddd;
        cursor: pointer;
        &:hover{
          color:  #8d8d8d;
          border-color: #b5b5b5;
          svg g{
            fill: #b5b5b5;
          }
        }
        svg g {
          fill: #dddddd;
        }
      }
      img {
        height: 72px;
        width: 72px;
        border: 2px solid;
        border-radius: 50%;
        padding: 18px;
        box-sizing: content-box;
        margin-bottom: @small-size;
        filter: brightness(0) invert(1);
      }
    }
  }

  &-pay {
    &[hiden=true] {
      display: none;
    }
  }
}

.button {
  padding: 10px;
  //width: 100%;
  background: @green;
  border: 1px solid @green;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  &:hover{
    background-color: #14883d;
  }
  &-black {
    background-color: #333;
    border-color: #333;
    &:hover{
      background-color: #000;
    }
  }
  &-transparent {
    padding: 0;
    background-color: transparent;
    border-color: transparent;
    color: @gold;
    &:hover{
      background-color: transparent;
      color: #94710e;
    }
    &_green{
      border-color: @green;
      color: @green;
      &:hover{
        border-color: #197F3E;
        color: #197F3E;
      }
    }
  }
  &-responsive{
    width: 100%;
  }
  &-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    img {
      background: transparent;
      margin-right: 10px;
      width: 16px;
      height: 16px;
    }
  }
  &-fit {
    width: fit-content;
    width: -moz-fit-content;
  }
  &-small {
    min-width: 5.5rem;
  }
}

.street-list {
  &_item {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 1px solid #e2e4e6;
    &:hover {
      background: #fafcfe;
    }
    &.active {
      color: #1c9e49;
      background: @default-bg;
    }
    &:last-child {
      border-bottom: 1px solid transparent;
    }
  }
}

.tool_panel {
  top: @base-size;
  left: 0;
  background: #fff;
  box-shadow: 0 0 10px 0px #ddd;
  span {
    a {
      display: block;
      color: #727476;
      padding: 12px 15px;
      text-decoration: none;
      &:hover {
        color: @gold;
      }
    }
    &.active {
      a {
        color: @gold;
      }
    }
  }
}

.new-additionals {
  &_list {
    &_item {
      border: 1px dashed #d2d4d6;
      border-radius: 5px;
      filter: grayscale(0.5);
      opacity: 0.75;
      cursor: pointer;
      small{
        color: #a7a7a7;
      }
      &.active {
        & *{
          color: #fff;
        }
        border: 1px solid transparent;
        opacity: 1;
        filter: grayscale(0);
        img {
          filter: brightness(0) invert(1);
        }
      }
      &:hover {
        border: 1px solid #b2b4b6;
        filter: grayscale(0);
        opacity: 1;
      }
      img {
        display: block;
        margin-right: @small-size;
        width: @base-size;
        height: @base-size;
        min-height: @base-size;
      }
    }
  }
  &_create>*{
    margin-bottom: @small-size;
  }
}

.picker__holder{
  max-width: 330px;
}

.input-form{
  padding: @small-size;
  & .button{
    position: relative;
    width: 100%;
  }
  &>*{
    margin-bottom: @small-size;
  }
  & .material-content{
    margin-top: @small-size;
  }
  &_panel {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 20px 30px;
    .button {
      position: relative;
      width: 100%;
    }
  }
}

.data-fail {
  font-size: 1.5rem;
  color: grey;
  text-align: center;
}

.receipt_link{
  display: none;
}

/*Checkboxes styles*/
input[type="checkbox"] {
  display: none;
  &.remember-checkbox{
    display: block;
  }
  & + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid #1b9e49;
      position: absolute;
      left: 0;
      top: 0;
      opacity: .6;
      -webkit-transition: all .12s, border-color .08s;
      transition: all .12s, border-color .08s;
    }
  }
  &:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}













.number-template {
  align-items: center;
  &__input {
    height: auto;
    padding: 0;
    &:before, &:after {
      bottom: 0;
    }
    input {
      height: 40px;
      padding: 10px 0px;
    }
    label {
      position: absolute;
      transform: translateY(13px);
    }

    &.has-label {
      label {
        transform: translateY(-13px) scale(0.75)!important;
      }
    }
  }
  &__mask {
    height: 40px;
  }
  &__item {
    display: none;
    color: #aaa;
    border: 2px solid #000;
    padding: 4px 10px;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: default;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    span {
      color: #343434;
      padding: 7px 0px;
    }
    &[template="russian"] {
      span:nth-child(2) {
          margin-left: 5px;
      }
      span:nth-child(4) {
          margin-right: 5px;
      }
      span:nth-child(7) {
          border-left: 2px solid;
          padding-left: 10px;
          margin-left: 10px;
      }
    }
    &[template="ukrainian"] {
      span:nth-child(3) {
          margin-left: 5px;
      }
      span:nth-child(6) {
          margin-right: 5px;
      }
    }
  }
}











@media (max-width: 1200px) {
  .font{
    &-medium{
      font-size: 1rem;
    }
  }
}

@media (max-width: 960px) {
  .balance-container {
    align-items: start;
  }

}
@media (max-width: 640px) {

}
