<p> Заключение договора с ООО  «Газпром межрегионгаз Ростов-на –Дону» пункт Батайский (смотри Памятка)</p>
<p> Заключение договора с ПАО «ТНС энерго Ростов-на-Дону»:</p><div> необходимый пакет документов для заключении договора получить в обслуживающей организации. Договор заключается по адресу: г. Батайск, ул. Ленина 37, телефон 8863(54) 57097, время работы: понедельник-четверг с 8-00 до 17-00, перерыв с 12-00до 12-45, пятница с 8-00 до 16-00, перерыв с 12-00 до 13-00.</div>
<p> Принадлежность к почтовому отделению: </p><div>Азовский район, поселок Койсуг, ул. М. Горького 635,  ПОЧТОВОЕ ОТДЕЛЕНИЕ № 9,  тел 8863(54) 99252, время работы с 9-00 до 18-00, перерыв с 13-00 до 14-00. Почтовый индекс: 346889</div>
<p> Принадлежность к детской поликлинике.</p><div> Территориально дети КП Донской принадлежат к детской поликлинике города Азова, ул. Ленина 266, тел 8863 (42) 63801. Если родителей не устраивает удаленность, они могут обратиться к заведующей детской поликлиникой № 2 г. Батайск, ул. Украинская 91А, тел. 8863 (54) 63209 с просьбой постановки на учет с заполнением необходимого заявления и согласия врача. Время работы: понедельник –пятница с 8-00 до 18-00, суббота с 8-00 до 12-00, воскресенье- выходной.</div>
<p> Телефоны аварийных служб.(смотри Контакты)</p>